 <div class="m-scooch m-fluid m-scooch-photos">
          <div class="m-scooch-inner">
            <div class="m-item m-active">
      <img src="/pic/eua.jpg">
    </div>
    <div class="m-item">
      <img src="/pic/chip.jpg">
    </div>
     <div class="m-item">
      <img src="/pic/image.jpg">
    </div>

          </div>
          <div class="m-scooch-controls m-scooch-hud">
              <a class="m-scooch-prev" href="#" data-m-slide="prev">Previous</a>
              <a class="m-scooch-next" href="#" data-m-slide="next">Next</a>
          </div>
 </div>
 <script>$('.m-scooch').scooch()</script>